.article-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap:2rem;
    padding:40px;
}

.article-image{
    margin:0;
    padding:0;
    overflow:hidden;
}

.article-image img{
    max-width:100%;
    height:auto;
    border-radius: 20px 20px 0 0;
}

.article-card{
    background: white;
    border-radius:20px;
    transition: 0.3s;
    

}

.article-card:hover{
    box-shadow: 0 4px 20px 0 rgba(32,68,123,0.2);
    cursor:pointer;
}
 
.article-content {
    padding:2rem;
}

.article-content .card-category{
    font-size:0.87rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight:600;
    color:#6b82a7;
    display: block;
    text-decoration: none;
}

.article-content .card-title{
    margin:1rem 0;
    color: #22447b;

}

.article-content .card-excerpt{
    font-size:1rem;
    line-height:1.5rem;
    color:#6b82a7;
    margin:0;
}


@media screen and (min-width:768px){
    .article-card{
        display: grid;
        grid-template-rows: 300px 2fr;
    }

}

