.favourites-layout{
    display:flex;
}

.cards-container{
    display: flex;
    width:40%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.favourites-heading{
    padding:5%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 

